DEFAULT_DOMAIN=http://127.0.0.1:8000/
SECRET_KEY=test_key
SENTRY_DSN=
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.100
REDIS_URL=

DISCORD_BOT_TOKEN=
DISCORD_TEST_TOKEN=
DISCORD_MARKOV_ALLOWED_CHANNELS=
DISCORD_IMGUR_CLIENT_ID=
DISCORD_IMGUR_CLIENT_SECRET=
DISCORD_IMGUR_ALBUM_HASH=

SERVER_NAME=
DJANGO_DEBUG=True
DISCORD_TEST=True

POB_RUNTIME_PATH=
POB_SOURCE_PATH=

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
