services:
  caddy:
    image: caddy:2.10-alpine
    container_name: "caddy"
    restart: always
    ports:
      - "9000:80"
    volumes:
      - $PWD/docker/Caddyfile:/etc/caddy/Caddyfile
      - $PWD/static:/var/www/static
      - $PWD/media:/var/www/media

  django:
    image: django-base:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: django
    command:
      [sh, -c, "gunicorn --capture-output --enable-stdio-inheritance --bind 0.0.0.0:9000 --workers 2 config.wsgi"]
    volumes:
      - ./static:/app/static
      - ./media:/app/media
      - ./data.db:/app/data.db
    restart: unless-stopped
    env_file: .env.docker

  redis:
    image: redis:7.2-alpine
    container_name: "redis"
    restart: always

  celery:
    image: django-base:latest
    container_name: celery
    command: ["celery", "-A", "config.celery_app", "worker", "-l", "info", "-c", "4"]
    env_file: .env.docker
    volumes:
      - ./static:/app/static
      - ./media:/app/media
      - ./data.db:/app/data.db
    restart: always
    depends_on:
      - redis

  beat:
    image: django-base:latest
    container_name: beat
    command: ["celery", "-A", "config.celery_app", "beat", "-l", "info", "--scheduler", "django_celery_beat.schedulers:DatabaseScheduler"]
    env_file: .env.docker
    volumes:
      - ./data.db:/app/data.db
    restart: always

  bot:
    image: django-base:latest
    container_name: bot
    command: [sh, -c, "python -m discordbot"]
    volumes:
      - ./data.db:/app/data.db
      - ./static:/app/static
      - ./media:/app/media
    restart: always
    env_file: .env.docker