[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
django-debug-toolbar = "*"
ipdb = "*"
autopep8 = "*"

[packages]
bs4 = "*"
aiohttp = "*"
django-filter = "*"
djangorestframework = "*"
gspread = "*"
imgurpython = "*"
requests = "*"
wikipedia = "*"
django-webpack-loader = "*"
django-dbbackup = "*"
sentry-sdk = "*"
gunicorn = "*"
python-dateutil = "*"
pandas = "*"
markovify = "*"
"discord.py" = "*"
Django = "==2.2.10"
google-api-python-client = "*"
google-auth = "*"
oauth2client = "*"
django-rest-knox = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
