{%extends "base.html"%}
{% block css %}
{% load staticfiles%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'unity_asteroids_app/TemplateData/style.css' %}" />
<link rel="shortcut icon" href="{% static 'unity_asteroids_app/TemplateData/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'unity_asteroids_app/TemplateData/style.css' %}">
<script src="{% static 'unity_asteroids_app/TemplateData/UnityProgress.js' %}"></script>  
<script src="{% static 'unity_asteroids_app/Build/UnityLoader.js' %}"></script>
<script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "{% static 'unity_asteroids_app/Build/asteroids_web.json' %}" , {onProgress: UnityProgress});
</script>
{% endblock %}
{% block title%}Unity WebGL Player | asteroids{% endblock %}
{% block content%}
<div class="webgl-content">
  <div id="gameContainer" style="width: 960px; height: 600px"></div>
  <div class="footer">
    <div class="webgl-logo"></div>
    <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
    <div class="title">Asteroids Clone</div>
  </div>
</div>

{% endblock %}