@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*So we can override bg image in any other template*/
  html {
    @apply bg-gray-800 bg-default-pattern bg-repeat  text-gray-100 text-base leading-6 m-0 text-left
  }

  /*Cause it's the pain in the ass to style some Django forms*/
  input[type="text"],
  input[type="password"] {
    @apply block w-full rounded-sm p-2 text-black focus:outline-none
  }
}

/* Components contain some unreachable template css (like django forms fields or countdown.js timer. Or I'm just lazy sometimes */
/* TODO: Remove some @apply rules */
@layer components {

  @font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/Gotham-Book.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
  
  .ladder-row {
    @apply odd:bg-[#181818] hover:odd:bg-[#252525] even:bg-[#121212] hover:even:bg-[#1f1f1f] h-10 outline-black/10 outline -outline-offset-1 outline-2 
  }

  /* Unreachable css classes */
  .mobile-search-form > input {
    @apply w-full px-2 h-10 placeholder:text-base
  }

  .countdown-row {
    @apply flex font-fontin justify-evenly
  }

  .countdown-section {
    @apply flex flex-col
  }

  .countdown-amount {
    @apply font-mono text-4xl
  }

  .countdown-period {
    @apply font-fontin text-sm
  }
}

/* TODO: change stupid notifications */
.toast.show {
  display: block;
  opacity: 1;
}

.toast.hide {
  display: none;
}