@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-100 text-base leading-6 m-0 text-left
  }
}

/* Components contain some unreachable template css (like django forms fields or countdown.js timer. Or I'm just lazy sometimes */
/* TODO: Remove some @apply rules */
@layer components {

  @font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/Gotham-Book.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
  
  .ladder-row {
    @apply odd:bg-[#181818] even:bg-[#121212] h-10 outline-black/10 outline -outline-offset-1 outline-2 
    hover:odd:bg-[#252525] hover:even:bg-[#1f1f1f]
  }

  .page-link {
    @apply relative block py-2 px-3 bg-[#4E5D6C] text-white
  }

  .page-link:hover {
    @apply text-white no-underline bg-white/40
  }

  .active > .page-link {
    @apply bg-orange-500
  }

  .mobile-search-form > input {
    @apply w-full px-2 h-10 placeholder:text-base
  }

}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
  
.character-owner-border {
  -webkit-box-shadow:inset 2px 0px 0px 0px hsla(142, 69%, 58%, 0.76);
  -moz-box-shadow:inset 2px 0px 0px 0px hsla(142, 69%, 58%, 0.76);
  box-shadow:inset 2px 0px 0px 0px hsla(142, 69%, 58%, 0.76)
}



.countdown-row {
  display: flex;
  font-family: 'Fontin-Regular';
  justify-content: space-evenly;
}

.countdown-section {
  display: flex;
  flex-direction: column;
}

.countdown-amount {
  font-size: xx-large;
}

.countdown-period {
  font-size: small;
}

.luxury-item {
  -webkit-filter: drop-shadow(0px 0px 3px hsla(26, 65%, 42%));
  filter: drop-shadow(0px 0px 3px hsla(26, 65%, 42%));
}