{% extends "base.html" %}
{% load ladder_extras %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'poeladder/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'poeladder/css/header.css' %}" />
{% endblock %}

{% block header %}
    <ul class="topnav">
        <li><a class="active" href="{% url 'home' %}">Home</a></li>
            {% for name in header_urls %}
                {% if name == requested_league %}
                    <li><a class="active-league" href="{% url 'ladder_url' league=name|to_dash %}"> {{ name }}</a></li>
                {% else %}
                    <li><a href="{% url 'ladder_url' league=name|to_dash %}"> {{ name }}</a></li>
                {% endif %}
            {% endfor %}
        <li class="right"><a href="https://github.com/EpicVertigo/django-personal-site"><img id="header-icon" src="{% get_static_prefix %}poeladder/img/github_icon.png"> GitHub</a></li>
        <li class="right" id="header-text"> Last updated {{ last_update }}</li>
        <li class="right" id="header-text"></li>
    </ul>
{% endblock %}
        
{% block title%} {{ title|default_if_none:"Path of Exile Clown Ladder"}} {% endblock %}

{% block content%}
{% if requested_league %}
<div class="ladder_main">
    <a class="ladder-link" href={{league_object.url}}><h1>{{ league_object.name }} Ladder </h1></a> 
    <table class="LadderTable">
            <thead>
              <tr class="LadderHeader">
                <th class="row-rank">Rank</th>
                <th>Account</th>
                <th>Name</th>
                <th>Class <form id="filter-form" method="get" style="float:right">{{ league_characters.form.class_id }}</form>
                </th>
                <th class="row-level">Level</th>
              </tr>
            </thead>
            <tbody>
                {% for character in league_characters.qs %}
                    <tr class="LadderRows">
                        <td>{{ forloop.counter }}</td>
                        <td class="row-link">
                            <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters">
                                <div class="ladder-link">
                                    {{ character.profile.poe_profile }}
                                </div>
                            </a>
                        </td>
                        <td class="row-link">
                            <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}">
                                <div class="cell-link" style="height:100%; width:100%">
                                    {{ character.name }}
                                </div>
                            </a> 
                        </td>
                        <td> <img id="class-icon" src="{% get_static_prefix %}poeladder/img/{{character.class_name}}_avatar.png"> {{ character.class_name }}</td>
                        <td>{{ character.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endif %}
{% endblock %}