{% extends "base.html" %}
{% load ladder_extras %}
{% load static %}

{% block css %}
{% include "bootstrap4.html" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'poeladder/css/main.css' %}" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'poeladder/js/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'poeladder/js/jquery.countdown.min.js' %}"></script> 
    <script src="{% static 'poeladder/js/ext.js' %}"></script>
{% endblock %}

{% block header %}
{% include "poeladder/navbar.html" %}
{% endblock %}
        
{% block title%} {{ title|default_if_none:"Path of Exile Clown Ladder"}} {% endblock %}

{% block content%}

{% if ladder_main %}
<div class="d-flex h-100 justify-content-center flex-column" style="margin-top:150px">
    <div class='mx-auto' style="min-width:470px;"><img src="{% static 'poeladder/img/IncursionTitle.png' %}"> </div>
    <div id='timer' class='mx-auto text-center'></div>
</div>
{% endif %}

{% if search %}
<div class="container col-lg-8">
    <h1 class="ladder-title">Search results</h1>
        {% if poe_search_form.errors %}
            <h2>{{ poe_search_form.errors }}</h2>
        {% else %}
            <h2>Found {{ search_results|length }} result{{ search_results|pluralize }} for «{{ search_query }}» </h2>
        {% endif %}
        <div class="container col-lg-12">
                <table class="LadderTable">
                        <thead>
                          <tr class="LadderHeader">
                            <th>Character</th>
                            <th>Account</th>
                            <th>Class <form id="" method="get" style="float:right">{{ league_characters.form.class_id }}</form>
                            </th>
                            <th class="row-level text-center">Level</th>
                            <th class="row-level text-center">Skills</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for character in search_results %}
                                <tr class= "LadderRows {% if current_profile == character.profile.poe_profile %}current-user{% endif %}" >
                                    <td class="row-link">
                                        <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}">
                                            <div class="cell-link" style="height:100%; width:100%">
                                                {{ character.name }}
                                            </div>
                                        </a> 
                                    </td>
                                    <td class="row-link">
                                            <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters">
                                                <div class="ladder-link">
                                                    {{ character.profile.poe_profile }}
                                                </div>
                                            </a>
                                        </td>
                                    <td> <img id="class-icon" src="{% get_static_prefix %}poeladder/img/characters/{{character.class_name}}_avatar.png"> {{ character.class_name }}</td>
                                    <td class="text-center">{{ character.level }}</td>
                                    <td class="row-gems"> {% for gem in character.gems.all %} <img class="active-skill" src="{{gem.icon}}" title="{{gem.name}}" >  {% endfor %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
        </div>
</div>
{% endif %}

{% if requested_league %}
<div class="container col-lg-8">
    <a class="ladder-link" href={{league_object.url}}><h1 class="ladder-title">{{ league_object.name }} Ladder </h1></a> 
    <table class="LadderTable">
            <thead>
              <tr class="LadderHeader">
                <th class="row-rank">Rank</th>
                <th>Character</th>
                <th>Account</th>
                <th>Class <form id="" method="get" style="float:right">{{ league_characters.form.class_id }}</form>
                </th>
                <th class="row-level text-center">Level</th>
                <th class="row-level text-center">Progress</th>
                <th class="row-level text-center">Experience</th>
                <th class="row-level text-center">Skills</th>
              </tr>
            </thead>
            <tbody>
                {% for character in league_characters.qs %}
                    <tr class= "LadderRows {% if current_profile == character.profile.poe_profile %}current-user{% endif %}" >
                        <td>{{ forloop.counter }}</td>
                        <td class="row-link">
                            <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}">
                                <div class="cell-link" style="height:100%; width:100%">
                                    {{ character.name }}
                                </div>
                            </a> 
                        </td>
                        <td class="row-link">
                                <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters">
                                    <div class="ladder-link">
                                        {{ character.profile.poe_profile }}
                                    </div>
                                </a>
                            </td>
                        <td> <img id="class-icon" src="{% get_static_prefix %}poeladder/img/characters/{{character.class_name}}_avatar.png"> {{ character.class_name }}</td>
                        <td class="text-center">{{ character.level }}</td>

                        {% with character|level_progress as level_progress %}
                        <td style="width:50px" title="{{level_progress}}%"> 
                            <div class="progress-bar-level center-block">
                                <div class="progress-level" role="progressbar" style='width: {{level_progress}}%;' aria-valuenow="{{level_progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        {% endwith %}
                        
                        <td class="text-center"><div class="text-right" style="width:75%">{{ character.experience|space_separator }}</div></td>
                        <td class="row-gems"> {% for gem in character.gems.all %} <img class="active-skill" src="{{gem.icon}}" title="{{gem.name}}">{% endfor %}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="col-xs-12" style="height:50px;"></div>
{% endif %}
{% endblock %}
