{% extends "base.html" %}
{% load ladder_extras %}
{% load static %}

{% block css %}
{% include "bootstrap4.html" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'poeladder/css/main.css' %}" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'poeladder/js/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'poeladder/js/jquery.countdown.min.js' %}"></script> 
    <script src="{% static 'poeladder/js/ext.js' %}"></script>
{% endblock %}

{% block header %}
{% include "poeladder/navbar.html" %}
{% endblock %}
        
{% block title%} {{ title|default_if_none:"Path of Exile Clown Ladder"}} {% endblock %}

{% block content%}

{% if ladder_main %}
<div class="d-flex h-100 justify-content-center flex-column" style="margin-top:150px">
    <div class='mx-auto' style="min-width:470px;"><img src="{% static 'poeladder/img/IncursionTitle.png' %}"> </div>
    <div id='timer' class='mx-auto text-center'></div>
</div>
{% endif %}

{% if search %}
<div class="container h-100 justify-content-center align-items-center ">
    <h1 class="ladder-title">Search results</h1>
        {% if poe_search_form.errors %}
            <h2>{{ poe_search_form.errors }}</h2>
        {% else %}
            <h2>Found {{ search_results|length }} result{{ search_results|pluralize }} for «{{ search_query }}» </h2>
        {% endif %}
        <div class="row d-flex flex-wrap justify-content-center">
        {% for result in search_results %}
            <div class="search-result">
                <img class="search-icon" src="{% get_static_prefix %}poeladder/img/characters/{{result.class_name}}_avatar.png">
                <div class="info-line1">
                    <a class="result-link" href="https://www.pathofexile.com/account/view-profile/{{result.profile.poe_profile}}/characters?characterName={{result.name}}">{{ result.name }}</a>
                </div>
                <div class="info-line2">Level {{ result.level }}</div>
                <div class="info-line3">
                    <a class="result-link" href="https://www.pathofexile.com/account/view-profile/{{result.profile.poe_profile}}/characters">{{ result.profile }}</a><br>
                    <a class="result-link" href="{% url 'ladder_url' league=result.league.name|to_dash %}"> {{ result.league }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endif %}

{% if requested_league %}
<div class="container col-lg-8">
    <a class="ladder-link" href={{league_object.url}}><h1 class="ladder-title">{{ league_object.name }} Ladder </h1></a> 
    <table class="LadderTable">
            <thead>
              <tr class="LadderHeader">
                <th class="row-rank">Rank</th>
                <th>Account</th>
                <th>Name</th>
                <th>Class <form id="" method="get" style="float:right">{{ league_characters.form.class_id }}</form>
                </th>
                <th class="row-level">Level</th>
              </tr>
            </thead>
            <tbody>
                {% for character in league_characters.qs %}
                    <tr class="LadderRows">
                        <td>{{ forloop.counter }}</td>
                        <td class="row-link">
                            <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters">
                                <div class="ladder-link">
                                    {{ character.profile.poe_profile }}
                                </div>
                            </a>
                        </td>
                        <td class="row-link">
                            <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}">
                                <div class="cell-link" style="height:100%; width:100%">
                                    {{ character.name }}
                                </div>
                            </a> 
                        </td>
                        <td> <img id="class-icon" src="{% get_static_prefix %}poeladder/img/characters/{{character.class_name}}_avatar.png"> {{ character.class_name }}</td>
                        <td>{{ character.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="col-xs-12" style="height:50px;"></div>
{% endif %}

{% endblock %}
