{% extends "base.html" %}

{% block css %}
{% load static%}
{% include "bootstrap4.html" %}
{% endblock %}

{% load i18n %}

{% block content %}
<div class="container login-centered col-sm-3 col-xs-6 text-center" style="min-width:300px; justify-content: center; flex-direction: column;">
    <img style="width: 200px" class="p-2" src="{% static 'main/image/social_login_failure.jpg'%}">
    <h3 class="display-6 ">{% trans "Social Network Login Failure" %}</h3>
    <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
</div>
{% endblock %}