{% extends "base.html" %}
{% block css %}
{% load static%}
{% include "bootstrap4.html" %}
{% endblock %}
{% block title%}Finish registration{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container login-centered col-sm-3 col-xs-6" style="min-width:300px;">
    <h1 class="display-4 text-center">{% trans "Sign Up" %}</h1>
    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}

        <div class="form-group">
            <label>{{ form.username.label }}</label><br>
            {{ form.username }}

            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label>{{ form.email.label }}</label><br>
            {{ form.email }}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div>
            <input class="btn btn-primary float-right" type="submit" value="{% trans "Sign Up" %}" />
        </div>
    </form>
    {% if form.errors %}
    <div class="form-group has-errors text-danger small">
        {% for error in form.errors.values %}
        {% for message in error %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}