{% extends "base.html"%}
{% block css %}
{% load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
<style>
        body, html {
            height: 100%;
            margin: 0;
        }
        
        .bg {
            background-image: url("{{ bg }}");
            height: 100%; 
			background-position: center;
			background-repeat:  no-repeat;
			background-size:  cover;
        }
</style>
{% endblock %}
{% block title%}Home page{% endblock %}
{% block content%}
<div class="bg">
    <div id="WorkingTitle" >
        <h3>{{ wisdom_text }}</h3>
        {% comment %} <a href="{% url "mix" %}" class="button_mix" >MIX</a> {% endcomment %}
    </div>
</div>
{% endblock %}