{% extends 'base.html' %} 
{% load static %} 
{% block title %}{% if authorized %}{{profile.wowaccount.btag}} - Profile {% else %} WoW PvP Stats {% endif %}{% endblock title %} 
{% block css %} 
{% include 'bootstrap4.html'%}
<link rel="stylesheet" href={% static 'wowstats/css/wow_main.css' %}> 
<script src="{% static 'wowstats/js/helper.js' %}"></script>
{% endblock css %} 
{% block header %}
{% include 'header.html' %}
{% endblock header %}
{% block content %} 
{% if success %}
<div class="container-fluid signup-centered col-md-4 p-3" style="min-height:200px;background: rgba(51, 51, 51, 0.85) ">
  <div class="container text-center ">
    <h1 class="display-4">Success!</h1>
    <p class="lead">You characters will be avaible soon enough</p>
    <div class="d-flex justify-content-center">
      <div class="loader">
        <span></span>
      </div>
    </div>
    <script>
      setTimeout(function () {
        window.location.href = "{% url 'wowstats:main' %}";
      }, 5000);
    </script>
  </div>
</div>
{% else %} {% if not authorized %}
<div class="container-fluid signup-centered col-md-4 p-3" style="min-height:200px;background: rgba(51, 51, 51, 0.85) ">
  <div class="container text-center ">
    <h1 class="display-4">WoW Stats</h1>
    <br>
    <p class="text-muted">You need to authorize our app to see your stats</p>
    <form id="" method="post" class="p-2">
      {% csrf_token %} {{form.name}}
      <input class="btn btn-primary" type="submit" name="profile_update" value="Log in" />
    </form>
  </div>
</div>
{% else %}
<div class="container p-3">
  <div class="container col-lg">
    <div class="row">
      <div class="col-lg">
          <div class="p-3 text-left" id="profile">
              <h1>{{profile.wowaccount.btag}}</h1>
              <p class="text-muted">{{profile.wowaccount.bnet_id}}
                <br>{{profile.wowaccount.get_region_display}}
              </p>
              {% if token_update %}
              <form id="" method="post" class="p-2">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="token_update" value="Update token" />
                <input type="hidden" name="region" value="{{profile.wowaccount.region}}" />
              </form>
              {% endif %} 
              {# <p id="last-update ">{{profile.wowaccount.register_date}}</p> #}
            </div>
            
        <div id="monkas" class="container-lg w-90 p-2 table-active scrollbar-primary">
          {% for character in characters_pg %}
          <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><a href={{character.get_absolute_url}} > {{character.name}}</a></h5>
              <small><input id="track-{{character.id}}" type="checkbox" {% if character.track %}checked="checked"{% endif %}onclick="track('{{character.id}}', '{{csrf_token}}')">Track</input>
              </small> 
              </div>
              <p class="mb-1">{{character.realm}}
              <small class="text-muted">Level {{character.level}}</small>
              <small class="text-muted">{{character.get_race_display}} {{character.get_class_id_display}}</small>
              </p>
            </div>
          </div>
          {% endfor %}
          {% include 'paginator.html' with item=characters_pg %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endif %} 
{% endblock content %}