{% extends 'base.html' %} 
{% load static %} 
{% block title %}{% if authorized %}{{profile.wowaccount.btag}} - Profile {% else %} WoW PvP Stats {% endif %}{% endblock title %} 
{% block css %} 
{% include 'bootstrap4.html'%}
<link rel="stylesheet" href={% static 'wowstats/css/wow_main.css' %}> 
<script src="{% static 'wowstats/js/helper.js' %}"></script>
{% endblock css %} 
{% block header %}
{% include 'header.html' %}
{% endblock header %}
{% block content %} 
{% if success %}
<div class="container-fluid signup-centered col-md-4 p-3" style="min-height:200px;background: rgba(51, 51, 51, 0.85) ">
  <div class="container text-center ">
    <h1 class="display-4">Success!</h1>
    <p class="lead">You characters will be avaible soon enough</p>
    <div class="d-flex justify-content-center">
      <div class="loader">
        <span></span>
      </div>
    </div>
    <script>
      setTimeout(function () {
        window.location.href = "{% url 'wowstats:main' %}";
      }, 5000);
    </script>
  </div>
</div>
{% else %} {% if not authorized %}
<div class="container-fluid signup-centered col-md-4 p-3" style="min-height:200px;background: rgba(51, 51, 51, 0.85) ">
  <div class="container text-center ">
    <h1 class="display-4">WoW Stats</h1>
    <br>
    <p class="text-muted">You need to authorize our app to see your stats</p>
    <form id="" method="post" class="p-2">
      {% csrf_token %} {{form.name}}
      <input class="btn btn-primary" type="submit" name="profile_update" value="Log in" />
    </form>
  </div>
</div>
{% else %}
<div class="container p-3">
          <div class="p-3 text-left" id="profile">
              <h1>{{profile.wowaccount.btag}}</h1>
              <p class="text-muted">{{profile.wowaccount.bnet_id}}
                <br>{{profile.wowaccount.get_region_display}}
              </p>
              {% if token_update %}
              <form id="" method="post" class="p-2">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="token_update" value="Update token" />
                <input type="hidden" name="region" value="{{profile.wowaccount.region}}" />
              </form>
              {% endif %} 
              {# <p id="last-update ">{{profile.wowaccount.register_date}}</p> #}
            </div>
        <div class="container-md">
        {% for character in characters_pg %}
          <div class="row p-1">
            <div class="col-md-auto">
              <img src="http://render-eu.worldofwarcraft.com/character/{{character.thumbnail}}" class="img-thumbnail d-inline-flex" alt=""> 
            </div>
            <div class="col-md-10">
                <h5><a href="{{character.get_absolute_url}}">{{character}}</a></h5>
                    <div class="custom-control custom-checkbox float-right">
                      <input class="custom-control-input" id="track-{{character.id}}" type="checkbox" {% if character.track %}checked="checked"{% endif %}onclick="track('{{character.id}}', '{{csrf_token}}')">
                      <label class="custom-control-label float-left" for="track-{{character.id}}">Track this character</label>
                    </div>
                <span class="text-muted">{{character.realm}} <br></span>
                <span>Level {{character.level}} {{character.get_race_display}} {% if character.spec %}{{character.spec}}{% endif %} {{character.get_class_id_display}}</span>

                <p class="custom-control-input float-right"></p >
            </div>
          </div>
          {% endfor %}
        </div>
          {% include 'paginator.html' with item=characters_pg %}
        </div>
</div>
{% endif %} {% endif %} 
{% endblock content %}