@font-face {
  font-family: "Fontin-Regular";
  src: url("../fonts/Fontin-Regular.ttf");
}

html {
  background-image: url("../img/topbg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

html:has(body div.stash-container) {
  background-image: url("../img/stash.jpg");
}

.stash-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

}

.stash-container h1 {
  text-shadow: 0px 0px 6px #000000;
}

.stash-container-wrapper {
  display: flex; 
  flex: 0 0 25em; 
  min-width: 80vw;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 90vw;
  max-width: 90vw;
  gap: 5px

}

.stash-search-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  gap: 5px
}

.stash-search-controls input {
  width: 100%;
  text-align: center;
  border-radius: 6px;
  font-family: 'Fontin-Regular';
  border: none;
  box-shadow: 1px -1px 10px 6px rgba(0,0,0,0.78);
  -webkit-box-shadow: 1px -1px 10px 6px rgba(0,0,0,0.78);
  -moz-box-shadow: 1px -1px 10px 6px rgba(0,0,0,0.78);
}

.stash-search-controls input:focus {
  border: none;
  outline: none;
}

.stash-results-container {
  flex-grow: 3;
  padding: 0 15px;
  min-width: 60vw;
  max-width: 90vw;
}

.stash-results-container h3 {
  font-family: 'Fontin-Regular';
  text-align: center;
}

@media screen and (width <= 1152px) {
  .stash-search-controls{
    max-width: 90vw;
  }
  .stash-results-container{
    padding: 0;
    min-width: 90vw;
  }
}

.stash-row {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.stash-action-icon {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
}

.stash-action-added::before {
  color: var(--success);
  content: "\f2f6";
}

.stash-action-removed::before {
  color: var(--danger);
  content: "\f2f5";
}

.stash-action-modified::before {
  color: var(--info);
  content: "\f044";
}

.stash-action-timestamp::before {
  content: "\f2f2";
}

.stash-entry-timestamp {
  display: flex;
  gap: 15px;
  margin-left: 35px;
}

.stash-entry-container {
  display: flex;
  gap: 10px;
  align-content: center;
}

.stash-entry-text {
  font-size: larger;
  font-family: 'Fontin-Regular';
}

.stash-info-text {
  color: var(--gray);
}
