{% load static %}
<div class="container col-lg-10">
  <h1 class="ladder-title">Search results</h1>
  {% if poe_search_form.errors %}
  <h2>{{poe_search_form.errors}}</h2>
  {% else %}
  <h2>
    Found {{paginator.count}} result{{search_results|pluralize}} for
    «{% if request.GET.name %}{{request.GET.name}}{% else %}All characters{% endif %}»
  </h2>
  {% endif %} {% if search_results %}
  <div class="container col-lg-12">
    <table class="LadderTable">
      <thead>
        <tr class="LadderHeader">
          <th>Character</th>
          <th>Account</th>
          <th class="row-level text-center">Class</th>
          <th class="row-level text-center">Level</th>
          <th class="row-level text-center">Skills</th>
        </tr>
      </thead>
      <tbody>
        {% for character in search_results %}
        <tr
          class="LadderRows {% if current_profile == character.profile.poe_profile %}current-user{% endif %}"
        >
          <td class="row-link">
            <a
              class="ladder-link"
              href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}"
            >
              <div class="cell-link" style="height:100%; width:100%">
                {{character.name}}
              </div>
            </a>
          </td>
          <td class="row-link">
            <a
              class="ladder-link"
              href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters"
            >
              <div class="ladder-link">
                {{character.profile.poe_profile}}
              </div>
            </a>
          </td>
          <td>
            <img
              id="class-icon"
              src="{% get_static_prefix %}poeladder/img/characters/{{character.class_name}}_avatar.png"
            />
            {{character.class_name}}
          </td>
          <td class="text-center">{{character.level}}</td>
          <td class="row-gems">
            {% for gem in character.gems.all %}
            <img class="active-skill" src="{{gem.icon}}" title="{{gem.name}}" />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        {% if is_paginated %} 
            {% include "paginator.html" with item=page_obj%} 
        {% endif %}
    {% endif %}
  </div>
</div>
