{% extends "base.html" %}
{% load static%}
{% block title%}Login{% endblock %}

{% block content %}
{% load socialaccount %}
<div class="grid h-[80vh] items-center justify-center">
    {% if user.is_authenticated %}
        <div class="text-center flex flex-col items-center">
            <img class="max-w-xs" src="{% static 'main/image/already_logged.jpg'%}">
            <span class="text-xl">How the hell did you get here?</span>
            <a href="{% url 'main:home' %}" class="bg-orange-500/90 rounded-md hover:bg-orange-600/90 text-sm">Back to reality</a>
        </div>
    {% else %}
    <div class="w-[300px] sm:w-[400px] min-w-[300px] font-gotham">
        <h1 class="text-6xl font-light text-center mb-6">Login</h1>
        <div>
            <form action="{% provider_login_url 'discord' %}" method="post">
                {% csrf_token %}
                <button class="bg-orange-500/90 rounded-md hover:bg-orange-600/90 text-sm  p-2 w-full"><i class="fa-brands fa-discord"></i> Via Discord</button>
            </form>
        </div>
        <div class="flex items-center py-2">
            <div class="flex-grow h-px bg-silver"></div> 
            <span class="flex-shrink font-gotham text-white px-4">OR</span>
            <div class="flex-grow h-px bg-silver"></div>
        </div>
        <form method="post" class="font-gotham" action="{% url 'main:login' %}">
            {% csrf_token %}
            <div class="mb-1 ">
                <span>Username</span>
                {{ form.username }}
            </div>
            <div class="mb-1 font-gotham">
                <span>Password</span>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <div class="text-red-600 text-sm mt-2">
                <p>Your username and password didn't match. Please try again.</p>
            </div>
            {% endif %}
            <div class="flex flex-row mt-2">
                <span class="text-gray-400 text-sm">
                    Don't have a local account? Make one 
                    <a class="text-orange-500/90" href="{% url 'main:signup' %}?{{ request.GET.urlencode }}">here</a>
                </span>
                <input type="hidden" name="next" value="{{ next }}" />
                <input class="ml-auto rounded-md py-2 px-4 bg-orange-500/90 hover:bg-orange-600/90 text-sm text-white" type="submit" value="Login" />
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}