{% load static %} {% load ladder_extras %}
<table class="table-auto w-full mb-10">
    <thead>
        <tr class="bg-gray-800 text-center h-8">
            {% if not hide_ranks %}<th>Rank</th>{% endif %}
            <th class="text-left"><span class="ml-2">Character</span></th>
            <th class="text-left">Account</th>
            {% if show_leagues %}<th class="text-left">League</th>{% endif %}
            <th class="text-left">Class
                <form method="get" class="float-right">{{class_filter.form.class_id}}</form>
            </th>
            <th>Level</th>
            <th>Progress</th>
            <th></th>
            <th class="pl-3">Experience</th>
            <th>Life</th>
            <th>ES</th>
            <th><abbr title="Unhinged estimation by unconfigured PoB">DPS</abbr></th>
            <th>Skills</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr class="ladder-row{% if character.expired %} opacity-70{% endif %} {% if current_profile == character.profile.poe_profile %} character-owner-border{% endif %}">
            {% if not hide_ranks %}
            <td class="text-center">
                {{forloop.counter0|add:page_obj.start_index}}
            </td>
            {% endif %}
            <td>
                <div class="flex flex-row h-full items-center gap-2">
                    {% if user.is_staff %}
                        <a href="{% url 'admin:poe_character_change' character.id %}">
                            <i class="fa-solid fa-wrench"></i>
                        </a>
                    {% endif %}
                    {% if not character.expired %}
                    <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}">
                        <span class="ml-2">{{character.name}}</span>
                    </a>
                    {% else %}
                        <span class="ml-2">{{character.name}}</span>
                    {% endif %}
                    <div class="flex flex-row">
                        {% for item in character.items.all %}
                            <img class="w-8 object-contain luxury-item" src="{{item.icon}}" title="{{item.name}}">
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td>
                <a class="ladder-link" href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters">
                    {{character.profile.poe_profile}}
                </a>
            </td>
            {% if show_leagues %}
            <td>
                <a href="{{ character.league.get_absolute_url }}" class="ladder-link">
                    {{character.league.name}}
                </a>
            </td>
            {% endif %}
            <td>
                <img class="max-h-[25px] hidden lg:inline" src="{% get_static_prefix %}poe/img/characters/{{character.class_name}}_avatar.png">
                <span>{{character.class_name}}</span>
            </td>
            <td class="text-center">
                {{character.level}}
            </td>
            {% with character|level_progress as level_progress %}
            <td title="{{level_progress}}%">
                <div class="relative pl-1">
                    <div class="h-2 flex bg-gray-600 ">
                        <div style="width:{{level_progress}}%" class="bg-cyan-500"></div>
                    </div>
                </div>
            </td>
            {% endwith %}
            <td class="pl-2 pr-1 w-0">
                {% if character.experience_trend == character.ExperienceTrend.UPWARD %}
                <span title="{{character.get_experience_trend_display}}">
                    <i class="fa-solid fa-arrow-up text-green-500 text-xs"></i>
                </span>
                {% endif %}
                {% if character.experience_trend == character.ExperienceTrend.DOWNWARD %}
                <span title="{{character.get_experience_trend_display}}">
                    <i class="fa-solid fa-arrow-down text-red-500 text-xs"></i>
                </span>
                {% endif %}
            </td>
            <td class="text-right w-[12ch]">
                <span class="">{{character.experience|space_separator}}</span>
            </td>
            <td class="text-center">
                <span>{{character.life|default_if_none:""}}</span>
            </td>
            <td class="text-center">
                <span>{{character.es|default_if_none:""}}</span>
            </td>
            <td class="text-center">
                <div>{{character.combined_dps|float_compact_format|default_if_none:""}}</div>
            </td>
            <td class="min-w-max flex flex-row py-1 justify-center m-auto">
                {% for gem in character.gems.all %}
                    <img class="w-8 aspect-square" src="{{gem.icon}}" title="{{gem.name}}">
                {% endfor %}
            </td>
            <td class="text-center" title="{{ character.modified|date:'c' }}">
                {{ character.modified|date:"j F, H:i:s" }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>