<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}" />
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
    <footer class="footer">{% block footer %}{% endblock %}</footer>
</body>
</html>