{% extends "base.html" %} {% load static %} {% block css %}
{% include 'bootstrap4.html' %}
<link
  href="https://unpkg.com/@fortawesome/fontawesome-free@5.13.0/css/all.css"
  rel="stylesheet"
/>
{% endblock %} {% block title %}Mix poll{% endblock title %} {% block content %}
{% include "header.html" %}

<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <p class="h2 lead">Mix image {{ image.id }}</p>
      <h5 class="lead text-muted">
        Added by {{ image.author }} on {{ image.date }}
      </h5>
    </div>
    <div class="col-sm text-center mt-1 mr-5">
      {% if total_votes %}
        <span class="lead">Votes</span>
        <br />
        <span class="icon"><i class="far fa-thumbs-down"></i></span>
        <span>{{ total_votes.dislikes }}</span>
        <span>&shy;</span>
        <span class="icon"><i class="far fa-thumbs-up"></i></span>
        <span>{{ total_votes.likes }}</span>
      {% endif %}
    </div>
  </div>
</div>
<br />
{% if image %}
<div class="container-fluid" style="height: 65vh">
  <div class="row h-100 justify-content-center">
      <img class="img-fluid my-auto" src="{{image.image.url}}" style="max-height: 65vh;" />
  </div>
</div>
{% endif %}
<br />
<div class="container">
  <div class="row no-gutters">
    <div class="col text-right">
      <form method="POST">
        {% csrf_token %} {{ dislike_form }}
        <button
          type="submit"
          class="btn btn-lg {% if user_like is False %}btn-danger{%else%}btn-outline-danger{%endif%}"
        >
          <i class="far fa-thumbs-down"></i>
        </button>
      </form>
    </div>
    <div class="col text-left ml-2">
      <form method="POST">
        {% csrf_token %} {{ like_form }}
        <button
          type="submit"
          class="btn btn-lg {% if user_like %}btn-success{%else%}btn-outline-success{%endif%}"
        >
          <i class="far fa-thumbs-up"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<br />
{% if page_obj.paginator.num_pages != 1 %}

<div class="container">
  <div class="row no-gutters">
    <div class="col text-right">
      {% if page_obj.has_previous %}
      <div class="col">
        <a id="previous_page" href="?page={{page_obj.previous_page_number}}">
          <span class="icon"><i class="fa fa-angle-left"></i></span>
          <span>Туда</span>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="col text-left ml-2">
      {% if page_obj.has_next %}
      <div class="col">
        <a id="next_page" href="?page={{page_obj.next_page_number}}">
          <span>Сюда</span>
          <span class="icon"><i class="fa fa-angle-right"></i></span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row"></div>
</div>

{% endif %} {% endblock %} {% block script %}
<script>
  document.onkeydown = checkKey;

  function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == "37") {
      const previous = document.getElementById("previous_page");
      if (previous) {
        window.location.href = previous.getAttribute("href");
      }
    } else if (e.keyCode == "39") {
      const next = document.getElementById("next_page");
      if (next) {
        window.location.href = next.getAttribute("href");
      }
    }
  }
</script>
{% endblock %} {% block footer_content %} {% endblock %}
