{% extends "base.html" %}
{% load static%}
{% load webp %}
{% block css %}
{% include "bootstrap4.html" %}
{% endblock %}
{% block title %} Profile - {{ user }} {% endblock title %}
{% block content  %}
{% include "header.html" %}

<div class="container w-75">
    <br>
    <div class="col-sm-8">
        <p>Your Discord Account is not linked yet</p>
        <small>Enter your discord token</small><br>
        <form action="{% url 'main:discord_link' %}" method="post">
            <div class="input-group mb-6">
                {% csrf_token %}
                {{ form.token}}
                <div class="input-group-append">
                    <input class="btn btn-primary" type="submit" name="token_link" value="Link" />
                </div>
            </div>
            {% for error in form.token.errors  %}
            <div class="form-group has-errors text-danger small">
                {{ error }}
            </div>
            {% endfor %}
        </form>
        <small class="form-text text-muted">Don't know where you can get a token? Just send a message to bot with
            command !register</small>
    </div>
</div>

<script>
    $('.toast').toast('show');
</script>
{% endblock content %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}