<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
  <a class="navbar-brand" href="{% url 'main:home' %}">Vertig's Hideout</a>

  {% block header_extras %} {% endblock %}

  <div class="ml-auto nav-right">
    {% if user.is_authenticated %} {% if user.is_staff %}
    <span class="navbar-text">
      <a class="nav-link" href="{% url 'admin:index' %}">
        <i class="fa-solid fa-toolbox"></i>
        <span>Admin Panel</span>
      </a>
    </span>
    {% endif %}
    <span class="navbar-text mr-auto">
      <a class="nav-link" href="{% url 'main:profile' %}">
        <i class="fa-solid fa-user"></i>
        <span>{{ user }}</span>
      </a>
    </span>
    <span class="navbar-text mr-auto">
      <a class="btn btn-primary btn-sm" href="{% url 'main:logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </span>
    {% else %}
    <a href="{% url 'main:login' %}" class="btn btn-primary">Login</a>
    {% endif %}
  </div>
</nav>
