{% extends "base.html" %}
{% load static%}
{% block title%}Vertig's hideout{% endblock %}

{% block content%}
{% include "navbar.html" %}
<div class="flex justify-center w-full">
    <div class="w-10/12">
        <div>
            <h1 class="text-4xl font-thin p-2 my-6">Personal projects</h1>
            <section class="flex flex-row flex-wrap gap-8 justify-center">
                <div class="group w-72 h-[22rem] rounded-md shadow-md shadow-black bg-cover hover:scale-105 transition-transform duration-200" style="background-image: url({% static 'main/image/bot.png' %});">
                    <div class="h-full rounded-md flex flex-col justify-end p-5 bg-gradient-to-t from-black/90 via-black/60 via-40% to-transparent group-hover:via-black/80">
                        <small class="text-xs"><i class="fa-brands fa-python mb-2"></i> Python projects</small>
                        <h2 class="text-3xl font-thin">Tony Discord Bot</h2>
                        <small class="text-sm mt-2 h-16">Another bot for Discord, based on Rapptz/discord.py API Wrapper.</small>
                        <div class="h-6 mt-3 flex flex-row gap-1">
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="https://github.com/vertigg/django-personal-site/tree/master/discordbot">
                                    <span><i class="fa-brands fa-github"></i> Github</i> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group w-72 h-[22rem] rounded-md shadow-md shadow-black bg-cover hover:scale-105 transition-transform duration-200 bg-center" style="background-image: url({% static 'main/image/ladder.png' %});">
                    <div class="h-full rounded-md flex flex-col justify-end p-5 bg-gradient-to-t from-black/90 via-black/60 via-40% to-transparent group-hover:via-black/80">
                        <small class="text-xs"><i class="fa-brands fa-python mb-2"></i> Python projects</small>
                        <h2 class="text-3xl font-thin">Path of Exile Ladder</h2>
                        <small class="text-sm mt-2 h-16">Django Application which compares Path of Exile characters and uses Path of Building to enchance players data</small>
                        <div class="h-6 mt-3 flex flex-row gap-1">
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="{% url 'poe:ladder_main' %}">
                                    <i class="fa-solid fa-external-link"></i> Open</i> 
                                </a>
                            </div>
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="https://github.com/vertigg/django-personal-site/tree/master/poe">
                                    <i class="fa-brands fa-github"></i> Github</i> 
                                </a>
                            </div>
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="{% url 'poe:api-root' %}">
                                    <i class="fa-solid fa-plug"></i> API</i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group w-72 h-[22rem] rounded-md shadow-md shadow-black bg-cover hover:scale-105 transition-transform duration-200 bg-right" style="background-image: url({% static 'main/image/asteroids.png' %});">
                    <div class="h-full rounded-md flex flex-col justify-end p-5 bg-gradient-to-t from-black/90 via-black/60 via-40% to-transparent group-hover:via-black/80">
                        <small class="text-xs"><i class="fa-brands fa-hashtag mb-2"></i> C# projects</small>
                        <h2 class="text-3xl font-thin">Asteroids Game</h2>
                        <small class="text-sm mt-2 h-16">Tiny arcade game made with Unity</small>
                        <div class="h-6 mt-3 flex flex-row gap-1">
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="{% url 'asteroids' %}">
                                    <i class="fa-solid fa-gamepad"></i> Play</i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group w-72 h-[22rem] rounded-md shadow-md shadow-black bg-cover hover:scale-105 transition-transform duration-200 bg-center" style="background-image: url({% static 'main/image/heist.png' %});">
                    <div class="h-full rounded-md flex flex-col justify-end p-5 bg-gradient-to-t from-black/90 via-black/60 via-40% to-transparent group-hover:via-black/80">
                        <small class="text-xs"><i class="fa-brands fa-hashtag mb-2"></i> C# projects</small>
                        <h2 class="text-3xl font-thin">Heist Price Checker</h2>
                        <small class="text-sm mt-2 h-16">OCR solution for price checking gems in PoE Heists</small>
                        <div class="h-6 mt-3 flex flex-row gap-1">
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="https://github.com/vertigg/HeistGemPriceChecker">
                                    <i class="fa-brands fa-github"></i> Github</i> 
                                </a>
                            </div>
                            <div>
                                <a class="text-sm p-1 px-2 rounded-md hover:bg-orange-500 bg-orange-500/50" href="https://github.com/vertigg/HeistGemPriceChecker/releases">
                                    <i class="fa-brands fa-github"></i> Releases</i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}