{% extends "base.html" %}
{% load static%}
{% block css %}
{% include "bootstrap4.html" %}
{% endblock %}
{% block title%}Vertig's hideout{% endblock %}
{% block content%}
{% include "header.html" %}
<div class="container col-sm-10">
    <br>
    <h1 class="display-4 p-2">Le projects</h1>
    <div class="d-flex row justify-content-center">
            <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/bot.png' %}" alt="Tony Tornado">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tornado Bot</h5>
                    <p class="card-text">Another bot for Discord, based on Rapptz/discord.py API Wrapper.</p>
                    <a href="https://github.com/EpicVertigo/django-personal-site/tree/master/discordbot" class="mt-auto align-self-start btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/ladder.png' %}" alt="Mr. Minotaur">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Path of Exile Ladder</h5>
                    <p class="card-text">Django Application which compares Path of Exile characters</p>
                    <div class="float-right">
                        <a href="{% url 'poeladder:ladder_main' %}" class="btn btn-primary">Open</a>
                        <a href="{% url 'poeladder:api-root' %}" class="btn btn-primary">API</a>
                        <a href="https://github.com/EpicVertigo/django-personal-site/tree/master/poeladder" class="btn btn-primary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/asteroids.png' %}" alt="Asteroids">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Asteroids Game</h5>
                    <p class="card-text">Small game made with Unity.</p>
                    <a href="{% url 'asteroids' %}" class="mt-auto align-self-start btn btn-primary">Play</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}