{% extends "base.html" %}
{% load static%}
{% block css %}
{% include "bootstrap4.html" %}
{% endblock %}
{% block title%}Vertig's hideout{% endblock %}
{% block content%}
{% include "header.html" %}
<div class="container col-sm-10">
    <br>
    <h1 class="display-4 p-2">Personal projects</h1>
    <div class="d-flex row justify-content-center" style="gap: 2rem">
            <div class="col-sm-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/bot.png' %}" alt="Tony Tornado">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tornado Bot</h5>
                    <p class="card-text">Another bot for Discord, based on Rapptz/discord.py API Wrapper.</p>
                    <a href="https://github.com/vertigg/django-personal-site/tree/master/discordbot" class="mt-auto align-self-start btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/ladder.png' %}" alt="Mr. Minotaur">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Path of Exile Ladder</h5>
                    <p class="card-text">Django Application which compares Path of Exile characters</p>
                    <div class="float-right">
                        <a href="{% url 'poe:ladder_main' %}" class="btn btn-primary">Open</a>
                        <a href="{% url 'poe:api-root' %}" class="btn btn-primary">API</a>
                        <a href="https://github.com/vertigg/django-personal-site/tree/master/poe" class="btn btn-primary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/asteroids.png' %}" alt="Asteroids">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Asteroids Game</h5>
                    <p class="card-text">Small game made with Unity.</p>
                    <a href="{% url 'asteroids' %}" class="mt-auto align-self-start btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'main/image/heist.png' %}" alt="Asteroids">
                <div class="card-body d-flex flex-column" style="justify-content: space-between;">
                    <h5 class="card-title">Heist Gems Price Checker </h5>
                    <p class="card-text">OCR solution for price checking gems in PoE Heists</p>
                    <div class="float-right">
                        <a href="https://github.com/vertigg/HeistGemPriceChecker" class="mt-auto align-self-start btn btn-primary">Github</a>
                        <a href="https://github.com/vertigg/HeistGemPriceChecker/releases" class="mt-auto align-self-start btn btn-primary">Releases</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}