{% extends "base.html" %}
{% load static%}
{% load webp %}
{% block css %}
{% include "bootstrap4.html" %}
{% endblock %}
{% block title %} Profile - {{ user }} {% endblock title %}
{% block content  %}
{% include "header.html" %}
{% load socialaccount %}
{% get_social_accounts user as accounts %}

{% if messages %}
<div class="position-absolute w-100 d-flex flex-column p-4">
    {% for message in messages %}
    <div class="toast ml-auto" aria-live="assertive" aria-atomic="true" role="alert" data-delay="10000"
        data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary">{{message.tags.capitalize}}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body"> {{message}} </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container w-75">
    <br>
    <h1 class="display-6">Welcome, {{user}}</h1><br>
    <div class="row">
        <div class="col-md-4">
            <div><br>
                {% if not user.discorduser.avatar_url %}
                    <img src="{% static 'main/image/default_avatar.png'%}" alt="Avatar" class="discord-avatar text-center">
                {% else %}
                    <picture>
                        <source srcset="{{ user.discorduser.avatar_url }}" type="image/webp">
                        <img src="{{ user.discorduser.avatar_url|discord_avatar_to_jpg }}" alt="Avatar" class="discord-avatar text-center">
                    </picture>
                {% endif %}
                <div class="card-body text-center">
                    {% if user.discorduser %}
                    <h3>{{ user.discorduser }}{% if accounts.discord.0 %}#{{ accounts.discord.0.extra_data.discriminator }}{% endif %}</h3>
                    <small class="text-muted">{{ user.discorduser.id }}</small>
                    <div id="badges">
                        {% if user.discorduser.admin %}<span class="badge badge-primary">Admin</span>{% endif %}
                        {% if user.discorduser.mod_group %}<span class="badge badge-info">Moderator</span>{% endif %}
                    </div>
                    {% else %}
                    <small class="text-muted">It seems that our Discord bot couldn't parse your information or you don't
                        share any servers with our bot.</small>
                    {% endif %}
                </div>
                <div class="card-body text-center">

                    {% if accounts.discord.0 %}
                    <form style="display: flex; justify-content: center;" action="{% url 'main:discord_disconnect' %}" method="post">
                        {% csrf_token %}
                        <a class="btn btn-secondary disabled btn-discord-connected" href="{% provider_login_url 'discord' %}">Discord account connected</a>
                        <button class="btn btn-danger btn-discord-disconnect" title="Disconnect account" type="submit"><i class="fa-solid fa-user-slash"></i></button>
                        </form>
                        {% else %}
                        <a class="btn btn-secondary w-100" href="{% provider_login_url "discord" process="connect" %}">Connect Discord account</a>
                        {% endif %}
                    </div>

            </div>
        </div>
        <div class="col-md-6">
            {% if user.discorduser %}
            <h4>Additional Profile Info</h4>
            <br>
            <h4>PoE Profile</h4>
            {{ user.discorduser.poe_profile|default_if_none:"No profile attached" }}
            <small class="form-text text-muted">This form is disabled, please use <code class="text-primary">/poe account</code> bot command to update your PoE profile directrly</small>

            <hr>
            <h4>Warframe Alerts</h4>
            <p class="form-text text-muted small">Warframe alert settings are deprecated and no longer supported by current Discord bot.</p>
            <input class="btn btn-primary float-right" type="submit" value="Update" />
            {% endif %}
        </div>
    </div>
</div>
<script>
    $('.toast').toast('show');
</script>
{% endblock content %}
{% block footer_content %}
{% include "footer.html" %}
{% endblock %}