{% extends "base.html" %} {% load static %}

{% block css %}
{% include "bootstrap4.html" %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'poe/css/poe.min.css' %}" />
{% endblock %}

{% block title %}Chat Monitor{% endblock %}

{% block header %}
{% include "navbar_poe.html" %}
{% endblock %}

{% block content %}
<div class="container w-100" style="min-width: 90vw !important;">
    <div class="chat-monitor-title">
      <h1>Chat Monitor</h1>
      <h6>Monitor your local Client.txt file and receive notifications about specific phrases mentioned</h6>
    </div>
    <div v-scope class="chat-monitor-container">
        <div class="chat-monitor-sidebar">
          <div class="chat-monitor-sidebar-block">
            <h5><i class="fa-solid fa-file"></i> Client File</h5>
            <div class="chat-client-file-form">
              <span class="small">[[ selected ? selected.file.name : 'No file selected'  ]]</span>
              <button @click="selectClientFile" class="btn btn-sm btn-sm btn-primary">Select</button>
            </div>
          </div>
          <div class="chat-monitor-sidebar-block chat-filters-block">
            <h5><i class="fa-solid fa-filter"></i> Filters</h5>
              <span class="chat-filter-badges">
                <span v-if="!textFilters.length">
                  No filters available
                </span>
                <span class="badge badge-primary" v-for="(phrase, index) in textFilters" :key="index" :title="phrase">
                  [[ truncateString(phrase) ]] <i @click="removeTextFilter(index)" class="fa-solid fa-circle-xmark"></i>
                </span>
              </span>
              <form @submit.prevent="addTextFilter" id="filterForm">
                <input type="text" name="phrase" autocomplete="off" @keyup.enter="$el.value = ''">
              </form>
              <div class="filter-controls">
                <button class="btn btn-sm btn-sm btn-secondary" form="filterForm" type="submit">Add phrase</button>
                <button @click="clearTextFilters" class="btn btn-sm btn-sm btn-secondary">Clear Filters</button>
              </div>
          </div>
          <div class="chat-monitor-sidebar-block">
            <h5><i class="fa-solid fa-gear"></i> Settings</h5>
            <div class="settings-group">
              <div class="settings-row">
                <span class="small">Polling Rate (in seconds)</span>
                <input class="form-input" :disabled="isMonitoring" type="number" id="pollingRate" name="quantity" min="1" max="60" step="1" v-model="pollingRate">
              </div>
              <div class="settings-row">
                <span class="small">Blacklisted [[ options.blacklistedUsers.length ]] [[ pluralize(options.blacklistedUsers.length, 'user') ]]</span>
                <button @click="clearBlacklist" :disabled="!options.blacklistedUsers.length" class="btn btn-secondary btn-sm">Clear</button>
              </div>
            </div>
          </div>
          <button @click="startWatching" :disabled="isMonitoring || !selected" class="btn btn-sm btn-sm btn-primary">Start monitoring</button>
          <button @click="stopWatching" :disabled="!isMonitoring" class="btn btn-sm btn-sm btn-primary">Stop monitoring</button>
        </div>
        <div class="chat-monitor-messages">
          <div>
            <h6 v-if="!chatMessages.length">
              Matched messages will be displayed here
            </h6>
            <h6 @vue:mounted="autoscrollChat()" v-for="(message, index) in chatMessages" :class="`chat-entry-${index}`">
              <i class="fa-solid fa-ban icon-block-user" title="Blacklist user" @click="blacklistUser(message.name)"></i>
              <i class="fa-solid fa-copy icon-copy-nickname" title="Copy to clipboard"  @click="copyUsernameToClipboard(message.name)"></i>
              <span v-show="message.guild" title="Guild" class="guild">&lt;[[ message.guild ]]&gt;</span> <span class="player-name" title="Nickname">[[ message.name ]]</span>: [[ message.text ]]
              <hr>
            </h6>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script defer src="{% static 'poe/js/petite-vue.iife.js' %}"></script>
    <script defer src="{% static 'poe/js/chatMonitor.js' %}"></script>
{% endblock %}