<!-- TODO: Just use one table for both pages ffs -->
{% load static %}
<div class="container col-lg-10">
  <h1 class="ladder-title">Search results</h1>
  {% if poe_search_form.errors %}
  <h2>{{poe_search_form.errors}}</h2>
  {% else %}
  <h2 class="ladder-title">
    Found {{paginator.count}} result{{search_results|pluralize}} for
    «{% if request.GET.name %}{{request.GET.name}}{% else %}All characters{% endif %}»
  </h2>
  {% endif %} {% if search_results %}
  <div class="container col-lg-12">
    <table class="LadderTable">
      <thead>
        <tr class="LadderHeader">
          <th>Character</th>
          <th>Account</th>
          <th>League</th>
          <th class="text-center">Class</th>
          <th class="text-center">Level</th>
          <th class="text-center">Skills</th>
        </tr>
      </thead>
      <tbody>
        {% for character in search_results %}
        <tr
          class="LadderRows {% if current_profile == character.profile.poe_profile %}current-user{% endif %}"
        >
          <td class="row-link">
            <a
              class="ladder-link"
              href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters?characterName={{character.name}}"
            >
              <div class="cell-link" style="height:100%; width:100%">
                {{character.name}}
              </div>
            </a>
          </td>
          <td class="row-link">
            <a
              class="ladder-link"
              href="https://www.pathofexile.com/account/view-profile/{{character.profile.poe_profile}}/characters"
            >
              <div class="ladder-link">
                {{character.profile.poe_profile}}
              </div>
            </a>
          </td>
          <td>
            <a class="ladder-link" href="{{ character.league.get_absolute_url }}">{{ character.league.name }}</a>
          </td>
          <td class="max-w-min">
              <img
              class="max-h-[25px] inline ml-16"
              src="{% get_static_prefix %}poe/img/characters/{{character.class_name}}_avatar.png"
              />
              <span>{{character.class_name}}</span>
          </td>
          <td class="text-center">{{character.level}}</td>
          <td class="min-w-max flex flex-row py-1 justify-center ">
            {% for gem in character.gems.all %} <img class="active-skill" src="{{gem.icon}}" title="{{gem.name}}">{% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        {% if is_paginated %} 
            {% include "paginator.html" with item=page_obj%} 
        {% endif %}
    {% endif %}
  </div>
</div>
