{% extends "base.html" %} {% load static %}


{% block css %}
{% include "bootstrap4.html" %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'poe/css/poe.min.css' %}" />
{% endblock %}

{% block title %}Guild Stash{% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container w-100 d-flex" style="min-height: 25vh; justify-content: center;align-items: center;">
    <h1 class="ladder-title">Coming Soon&#8482;</h1>
</div>
{% endblock %}
