{% extends "base.html" %} {% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'poe/css/poe.min.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
{% endblock %}

{% block title %}Guild Stash{% endblock %}

{% block header %}
{% include "poe/navbar.html" %}
{% endblock %}

{% block content %}
<div class="stash-container">
    <h1 class="ladder-title">Guild Stash History</h1>
    <div v-scope class="stash-container-wrapper">
        <div id="picker" class="stash-search-controls" style="flex-direction: column; align-items: center">
            <input type="text" name="pckr-input">
            <div>
                <button :disabled="isLoading" class="btn btn-sm btn-primary" @click="checkDateRange">Search</button>
                <button class="btn btn-sm btn-primary" @click="reset">Reset</button>
            </div>
            <span v-show="errorMessage" class="text-danger">[[ errorMessage ]]</span>
        </div>
        <div class="stash-results-container">
            <h3 v-if="isReceivedEmptyResponse">No results found</h3>
            <div v-show="entries.length" >
                <table class="LadderTable">
                    <tbody>
                        <tr v-for="entry in entries" :key="entry.id" class="LadderRows">
                            <td class="stash-row">
                                <div class="stash-entry-container">
                                    <div class="stash-action-icon" v-bind:class="getActionClass(entry.action)" v-bind:title="entry.action"></div>
                                    <div>
                                        <div class="stash-entry-text">[[ entry.account.name ]] [[ entry.action ]] [[ entry.item ]]</div>
                                        <div class="stash-info-text">
                                            <span class="small"><i class="fa-solid fa-flag"></i> [[ entry.league ]] League</span>
                                            <span class="small"><i class="fa-sharp fa-solid fa-box"></i> Stash [[ entry.stash ]]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="stash-entry-timestamp ">
                                    <span class="small" v-bind:title="dateFromTimestamp(entry.time)">
                                        <i class="fa-solid fa-stopwatch"></i> [[ getRelativeDate(entry.time) ]]
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>var csrf = "{{ csrf_token }}"</script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'poe/js/petite-vue.iife.js' %}"></script>
    <script src="{% static 'poe/js/stash.js' %}"></script>
{% endblock %}